<div class="main">
  <div class="container-fluid">
    <app-page-header></app-page-header>
    <!-- /# row -->
    <section id="main-content">
      <app-loading-container
        class="bg-white"
        *ngIf="isLoading || hasFailedLoading"
        [isLoading]="isLoading"
        [hasFailedLoading]="hasFailedLoading"
        (onReloadData)="loadData()"
      ></app-loading-container>

      <ng-container *ngIf="!isLoading && !hasFailedLoading">
        <div class="row">
          <div class="col-lg-3">
            <div class="card">
              <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-money color-success border-success"></i>
                </div>
                <div class="stat-content dib">
                  <div class="stat-text">Gain total</div>
                  <div class="stat-digit">{{statistics?.total_profit}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                </div>
                <div class="stat-content dib">
                  <div class="stat-text">Requête approuvées</div>
                  <div class="stat-digit">{{statistics?.approved_requests}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-layout-grid2 color-pink border-pink"></i>
                </div>
                <div class="stat-content dib">
                  <div class="stat-text">Requêtes résolues</div>
                  <div class="stat-digit">{{statistics?.solved_requests}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-link color-danger border-danger"></i></div>
                <div class="stat-content dib">
                  <div class="stat-text">Requêtes abandonnées</div>
                  <div class="stat-digit">{{statistics?.cancelled_requests}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-title">
                <h4>Meilleurs employés</h4>

              </div>
              <div class="card-body">
                <table class="table student-data-table m-t-20">
                  <thead>
                  <tr>
                    <th>N°</th>
                    <th>Noms et prénoms</th>
                    <th>Email</th>
                    <th>Numéro de téléphone</th>
                    <th>Note</th>
                    <th>Nbre d'électeurs</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let provider of statistics?.bests_employees; index as i">
                    <td>{{i+1}}</td>
                    <td>
                      {{provider?.user.names}}
                    </td>
                    <td>
                      {{provider?.user.email}}
                    </td>
                    <td>
                      {{provider?.user.phone_number}}
                    </td>
                    <td>
                      {{provider?.rating.value}}
                    </td>
                    <td>
                      {{provider?.rating.users}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card">
              <div class="card-title pr">
                <h4>Interventions à venir</h4>

              </div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-title">
                <h4>Activités récentes</h4>

              </div>
              <div class="card-body">
                <ul class="timeline">
                  <li>
                    <div class="timeline-badge primary"><i class="fa fa-smile-o"></i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">School promote video sharing</h5>
                      </div>
                      <div class="timeline-body">
                        <p>10 minutes ago</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">Ready our school website and online
                          service</h5>
                      </div>
                      <div class="timeline-body">
                        <p>20 minutes ago</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">Routine pubish our website form
                          10/03/2017 </h5>
                      </div>
                      <div class="timeline-body">
                        <p>30 minutes ago</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-badge success"><i class="fa fa-check-circle-o"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">Principle quotation publish our website
                        </h5>
                      </div>
                      <div class="timeline-body">
                        <p>15 minutes ago</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h5 class="timeline-title">Class schedule publish our website</h5>
                      </div>
                      <div class="timeline-body">
                        <p>20 minutes ago</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <app-footer></app-footer>
    </section>
  </div>
</div>
