<div class="row">
  <div class="col-lg-8 p-r-0 title-margin-right">
    <div class="page-header">
      <div class="page-title">
        <h1>
          {{title | translate}}
<!--          <span>Welcome Here</span>-->
        </h1>
      </div>
    </div>
  </div>
  <!-- /# column -->
  <div class="col-lg-4 p-l-0 title-margin-left">
    <div class="page-header">
      <div class="page-title">
        <ol class="breadcrumb">
          <li *ngFor="let breadcrumb of breadcrumbs; index as i" class="breadcrumb-item">
<!--            <a *ngIf="i < breadcrumbs.length-1" [routerLink]="breadcrumb.link">{{breadcrumb.label | translate}}</a>-->
            {{(i === breadcrumbs.length - 1) ? (breadcrumb.label | translate) : '' }}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /# column -->
</div>
<!-- /# row -->
